/********************************
HEADING
*********************************/

.main-header {
  padding-top: 250px;
  height: 850px;
  background: url('img/cooper.jpg') no-repeat center;
  background-size: cover;

}

/********************************
BODY
*********************************/

#Projects {
  padding: 40px 0px 20px 0px;
}